# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
### Above combination will ignore all files without extension ###

.DS_Store
.idea
*.log
a.*
t.*
a-*
.cache
tmp/
test/
*.vcf*
*.bcf*
test.cpp
*.bin
compile_commands.json
*.o
*log
*gz*
*dSYM
